/* cute cursor styling */

*,
*:hover,
*:active,
*:focus {
    cursor: url('../images/black_paw.png') auto !important;
}

input:hover,
textarea:hover,
select:hover,
button:hover,
a:hover,
option:hover,
input:active,
textarea:active,
select:active,
button:active,
a:active,
option:active,
input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus,
option:focus {
    cursor: url('../images/light_brown_paw.png'), auto !important;
}