/* palete:
1) verde claro (6bffb8) --> aquamarine
2) verde mais escuro (2ceaa3) --> also aquamarine
3) rosa (para destaques) (ffa69e) --> melon
4) preto (36382e) --> black olive
5) branco */

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Century Gothic";
}

body {
  position: relative;
  min-height: 100vh;
}

/* navbar */

.navbar{
  background-color: rgb(255, 255, 255, 0.5);
  height: 15vh;
  font-size: 20px;
}

.navbarContainer {
  /* maybe try the second navbar example */
}

.centerNavBar {
  margin: auto;
  text-align: center;
  justify-content: center;
}

.PAAWSLogo{
  width: 20%;
  height: 20%;
}

/* home page */

.homeBanner {
  margin-bottom: 5rem;
}

.pawprints {
  position: absolute;
  left: 10rem;
}

.sectionText {
  margin-top: 3rem;
}

.sectionTitle {
  font-size: 7rem;
  line-height: 2;
  font-weight: 800;
  color: #36382e;
  text-decoration: none;
}

.sectionTitle:hover,
.sectionTitle:active {
  color: #ffa69e;
}

.meetYourCompaawnion,
.successStories {
  text-align: right;
  position: relative;
}

.aboutUs {
  margin: 30rem 10rem ;
  text-align: left;
}

.successStories {
  margin: 15rem 0rem 20rem 0rem;
}

/* user profile */

.bannerWrap {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.banner {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.userGreeting {
  position: relative;
}

.userHeader {
  text-align: left;
  margin: 2rem 0rem 1.5rem 2rem;
}

.scrollingWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
      display: none;
  }
}

.card {
  margin: 1rem;
  width: 18rem;
  flex: "0 0 auto";
  padding: 2em;
}


/* animal page */

.animalPage{
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.animalPageDesc {
  text-align: left;
  padding-top: 0;
}

.animalPageBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.5rem;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 2.5rem;
}