body {
  margin: 0;
  background-color: rgb(230, 223, 211, 0.3); /* white coffee */
}

/* home page */

.sectionText {
  margin-top: 1rem;
}

.aboutUs:hover, 
.successStories:hover, 
.getToKnow:hover {
  background-color: rgb(200,213,185);
  border-bottom: lightgray solid 1px;
  border-right: lightgray solid 1px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}