/* palete:
1) verde claro (6bffb8) --> aquamarine
2) verde mais escuro (2ceaa3) --> also aquamarine
3) rosa (para destaques) (ffa69e) --> melon
4) preto (36382e) --> black olive
5) branco */


body {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

/* home page */

.sectionText {
  margin-top: 1rem;
}

.aboutUs:hover, 
.successStories:hover, 
.getToKnow:hover {
  background-color: rgb(200,213,185);
  border-bottom: lightgray solid 1px;
  border-right: lightgray solid 1px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

/* user profile */

.bannerWrap {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.banner {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.userGreeting {
  position: relative;
}

.userHeader {
  text-align: left;
  margin: 2rem 0rem 1.5rem 2rem;
}

.scrollingWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
      display: none;
  }
}

.card {
  margin: 1rem;
  width: 18rem;
  flex: "0 0 auto";
}

/* animal page */

.animalPage{
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.animalPageDesc {
  text-align: left;
  padding-top: 0;
}

.animalPageBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.5rem;
}

/* footer */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2.5rem;
}